#tax-shipping{
}
	#tax-shipping .tab{
		margin-left:10px;
	}
		#tax-shipping .tab li{
			float:left;
			margin-right:5px;
		}
			#tax-shipping .tab li a{
				color:#333333;
				display:block;
				padding:5px 20px;
				background-color:#E5E5E5;
				border:1px solid #E5E5E5;
				border-bottom:none;
				text-decoration:none;
				font-weight:bold;
			}
				#tax-shipping .tab li a:hover,
					#tax-shipping .tab li.active a{
					background-color:#FFFFFF;
					color:#D54E21;
				}
	#tax-shipping .tab-content{
		border:1px solid #E5E5E5;
		padding:10px 10px 20px 10px;
		margin-top:-1px;
	}


#tax-shipping .tab-content .ts-content{
}
	#tax-shipping .tab-content .ts-content .ts-header{
		background-color:#E1E1E1;
		padding:10px;
	}
		#tax-shipping .tab-content .ts-content .ts-header .button1{
			padding:2px 10px;
			font-size:12px;
			text-transform:uppercase;
		}



.table-lists{
	width:100%;
}
	.table-lists .col1{
		width:2%;
		text-align:center;
	}
	
	.table-lists .col2{
		width:50%;
		text-align:left;
	}
	
	.table-lists .col3{
		width:25%;
		text-align:left;
	}
	
	.table-lists .col4{
		width:23%;
		text-align:left;
	}
		
#view-order{}
	#view-order .sidebar{
		width:30%;
	}
	
	#view-order .content{
		width:70%;
	}
	
#customer_info li div,#customer_info li span{
	color:#084482;
}
	#customer_info li div{
		padding-left:10px;
	}
#order-list{
	width:100%;
}
	#order-list td{
		vertical-align:top;
		padding-bottom:10px;
	}
	#order-list .col1{
		width:10%;
	}
	#order-list .col2{
		width:50%;
	}
	#order-list .col3{
		width:40%;
		font-weight:bold;
		font-size:13px;
	}
		#order-list .col3 span{
			color:#FF7E00;
		}	
	#order-list .name{
		color:#084482;
		
		font-size:15px;
	}
	#order-list .order-info span{
		color:#084482;
	}
	#order-list .total{
		background:url('images/li_line_1.gif') repeat-x top left;
		padding-top:5px;
	}	